<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>cerberusweb.assets</id>
	<name>Asset Tracking</name>
	<description>This plugin introduces asset records.</description>
	<author>Webgroup Media, LLC.</author>
	<version>0.7.2</version>
	<link>https://cerb.ai</link>
	<image>plugin.png</image>

	<!-- Requirements -->

	<requires>
		<app_version min="9.0" max="9.0.99" />
		<!--<php_extension name="curl" />-->
	</requires>

	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="9.0" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<patch version="6.4.0" revision="1" file="patches/6.4.0.php" />
		<patch version="9.0.0" revision="2" file="patches/9.0.0.php" />
	</patches>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/dao/asset.php">
			<class name="Context_Asset" />
			<class name="DAO_Asset" />
			<class name="Model_Asset" />
			<class name="SearchFields_Asset" />
			<class name="View_Asset" />
		</file>
		<file path="api/events/abstract_event_asset.php">
			<class name="AbstractEvent_Asset" />
		</file>
		<file path="api/events/asset_macro.php">
			<class name="Event_AssetMacro" />
		</file>
	</class_loader>

	<!-- Extensions -->

	<extensions>
	
		<!-- Contexts -->
		
		<extension point="devblocks.context">
			<id>cerberusweb.contexts.asset</id>
			<name>Asset</name>
			<class>
				<file>api/dao/asset.php</file>
				<name>Context_Asset</name>
			</class>
			<params>
				<param key="names">
					<value>
						<data key="asset" value="singular" />
						<data key="assets" value="plural" />
					</value>
				</param>
				<param key="alias" value="asset" />
				<param key="dao_class" value="DAO_Asset" />
				<param key="view_class" value="View_Asset" />
				<param key="options">
					<value>
						<data key="cards" />
						<data key="custom_fields" />
						<data key="links" />
						<data key="records" />
						<data key="search" />
						<data key="snippets" />
						<data key="va_variable" />
						<data key="watchers" />
						<data key="workspace" />
					</value>
				</param>
				<param key="acl">
					<value>
						<data key="comment" />
						<data key="create" />
						<data key="delete" />
						<data key="export" />
						<data key="import" />
						<data key="merge" />
						<data key="update" />
					</value>
				</param>
			</params>
		</extension>
		
		<!-- Events -->
		
		<extension point="devblocks.event">
			<id>event.macro.asset</id>
			<name>Custom behavior on asset</name>
			<class>
				<file>api/events/asset_macro.php</file>
				<name>Event_AssetMacro</name>
			</class>
			<params>
				<param key="macro_context" value="cerberusweb.contexts.asset" />
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.app" />
						<data key="cerberusweb.contexts.group" />
						<data key="cerberusweb.contexts.role" />
						<data key="cerberusweb.contexts.worker" />
					</value>
				</param>
				<param key="options">
					<value>
						<data key="visibility" />
					</value>
				</param>
			</params>
		</extension>
	
		<!-- VA Actions -->
		
		<extension point="devblocks.event.action">
			<id>va.action.create_asset</id>
			<name>Create Asset</name>
			<class>
				<file>api/App.php</file>
				<name>VaAction_CreateAsset</name>
			</class>
			<params>
				<param key="label" value="Create asset" />
				<param key="events">
					<value>
						<data key="*" />
					</value>
				</param>
			</params>
		</extension>
	
		<!-- Profile Page Sections -->
		
		<extension point="cerberusweb.ui.page.section">
			<id>assets.page.profiles.asset</id>
			<name>Asset Section</name>
			<class>
				<file>api/profiles/asset.php</file>
				<name>PageSection_ProfilesAsset</name>
			</class>
			<params>
				<param key="page_id" value="core.page.profiles" />
				<param key="uri" value="asset" />
			</params>
		</extension>
	
	</extensions>
</plugin>
